.titulo-descripcion {
  justify-content: center; /* Centrar horizontalmente */
  text-align: center; /* Centrar horizontalmente */
  position: relative;
}

.contenedor {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  gap: 30px 30px; 
  grid-template-areas:
    "foto-nicolas contenedor-foto-brochet-guanaco contenedor-foto-brochet-guanaco"
    "receta-brochet-guanaco descripcion-guanaco descripcion-guanaco"
    "receta-brochet-guanaco descripcion-guanaco descripcion-guanaco";
}

.foto-nicolas { 
  grid-area: foto-nicolas;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Centrar horizontalmente */
  position: relative;
}

.foto-nicolas img { 
  height: 350px;
  width: auto;
  border-radius: 50%;
  margin: 0 auto; /* Centrar horizontalmente */ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar tanto vertical como horizontalmente */
}

.chef {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: auto auto auto;
  padding: 50px;
  column-gap: 50px;
}

.foto {
  position: relative;
  width: 200px; /* Ajusta el tamaño de la imagen según tu preferencia */
  height: 200px; /* Ajusta el tamaño de la imagen según tu preferencia */
  border-radius: 50%;
  overflow: hidden;
}

.foto:hover img {
  transform: scale(1.1); /* Ajusta el factor de escala según tu preferencia */
}

.chef .foto {
  /*border: 1px solid black;*/    
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #CCD5AE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-row-start: 1;
  grid-row-end: 3; 
  
  border-radius: 50%;
}

.chef .foto img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.5s;
}

.chef .Nombre {
  text-align: left;
  grid-column:2/4;
}

.chef article {
  text-align: left;
  grid-column:2/4;
}

.contenedor-foto-brochet-guanaco img { 
  height: 450px;
  width: auto;
}

.contenedor-foto-brochet-guanaco { 
  grid-area: contenedor-foto-brochet-guanaco; 
}

.receta-brochet-guanaco { 
  grid-area: receta-brochet-guanaco; 
}

.descripcion-guanaco { 
  grid-area: descripcion-guanaco; 
}

.listado-recetas {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  column-gap: 50px; 
  row-gap: 50px;
  /* padding: 10px; */
}

.listado-recetas .titulo{
  font-family: Poppins,sans-serif;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 4; 
}

.receta {
  border: 1px solid black;    
  text-align: center;
  height: 350px;
  width: 300px;
  background-color: #163d30;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.receta:hover{
  cursor:grab;
}

.receta a:link, .receta a:visited, .receta a:hover, .receta a:active{
  text-decoration: none;
}

.receta-imagen {
  overflow: hidden;
  object-position: center;
  height: 80%;
  width: 100%;
  border: 1px solid black;
  transition: all 0.5s ease;
}
.receta-imagen img{
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

.receta:hover .receta-imagen img{
  transform: scale(1.2);
}

.receta:hover .receta-imagen {
  height: 60%;
}

.receta:hover .receta-nombre {
  height: 40%;
}

.receta:hover .receta-cuadro {
  color:#163d30;
  border: 1px solid black;
  background-color: #f3c439;
}

.receta-nombre {
  font-size: 20px;
  font-family: Poppins,sans-serif;
  display: grid;
  color: white;
  width: 100%;
  height: 20%;
  font-weight: bolder;
  place-items: center;
  transition: all 0.5s ease; 
}

.receta-cuadro {
  font-size: 20px;
  font-family: Poppins,sans-serif;
  display: grid;
  width: 80%;
  height: 80%;
  padding: auto;
  margin: auto;
  color: #163d30;
  background-color: #163d30;
  font-weight: bolder;
  place-items: center;
  transition: all 0.5s ease; 
}


.chef .foto .border-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #ababab, #f41a5f);
  animation: animate-border-top 2s linear infinite;
}
@keyframes animate-border-top {
  0%{
    transform: translateX(-100%);
  }
  100%{ 
    transform: translateX(100%)
}
}

.chef .foto .border-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, #ababab, #f41a5f);
  animation: animate-border-right 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate-border-right {
  0%{
    transform: translateY(-100%);
  }
  100%{ 
    transform :translateY(100%)}
}

.chef .foto .border-bottom {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, #ababab, #f41a5f);
  animation: animate-border-bottom 2s linear infinite;
}
@keyframes animate-border-bottom {
  0%{
    transform: translateX(100%);
  }
  100%{ 
    transform :translateX(-100%)}
}

.chef .foto .border-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(to top, #ababab, #f41a5f);
  animation: animate-border-left 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate-border-left {
  0%{
    transform: translateY(100%);
  }
  100%{ 
    transform :translateY(-100%)}
}

.chef .foto  {
  overflow: hidden;
  border-radius: 50%;
}

.receta-titulo{
  display: grid;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 60% 40%;
  font-family: Poppins,sans-serif;
  overflow: hidden;
}
.receta-titulo article{
  display: grid;
  height: 100%;
  justify-content: center; 
  align-items: center;
  background-color: #163d30;
  color: white;
  border: 1px solid black;
}
.receta-titulo article .texto{
  padding: 20px;
  text-align: start;
}
.receta-titulo .receta-imagen{
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.receta-titulo .receta-imagen img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.receta-detalle{
  display: grid;
  column-gap: 30px;
  grid-template-columns: 25% auto;
  padding-top: 40px;
}

.receta-detalle .ingredientes{
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.receta-detalle .ingredientes ul {
  list-style: none;
  color: #457b66;
  font-weight: bold;
  font-size: 18px;
}

.receta-detalle .ingredientes ul li{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 15px;
}

.receta-detalle .preparacion h2{
  text-align: left;
}
.receta-detalle .preparacion ul {
  list-style: disc;
  color: #457b66;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  padding: 30px;
}

/* Estilos para la sección receta-detalle */
.receta-detalle {
  width: 100%; /* La sección ocupa todo el ancho */
  text-align: left; /* Texto justificado a la izquierda */
  margin: 0; /* Elimina márgenes (si los hubiera) */
  padding: 20px; /* Agrega relleno para espaciar el contenido del borde */
}
































