body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
}

/*///////////////////////////////////////////// ESTILOS PARA EL HEADER ////////////////////////////////////////////////////////////*/

.header {
    position: sticky;
    top: 0;
    display: flex; /* Utiliza flexbox para organizar los elementos en fila */
    justify-content: space-between; /* Distribuye los elementos a lo largo del encabezado */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #CCD5AE;
    color: #fff;
    transition: all 0.5s; /* Transición suave de la propiedad de relleno (padding) */
    padding: 5px;
    height: 150px; /* Ajusta la altura*/
    z-index: 2;
}

.header .logo img {
    width: 150px;
    height: auto;
    transition: all 0.3s;
    margin-left: 15px;
}

/* Estilos para el título dentro del encabezado */
.header .title h1 {
    color: rgb(31, 49, 2);
    font-size: 45px;
    transition: all 0.5s;
    margin-left: 80px;
}

.header nav {
    /* Estilos para el nav aquí */
    order: 5; /* Cambia el orden para que esté debajo del título */
}

/* Estilos para el header cuando se encoge (shrink) */
.header.shrink {
    padding: 5px 0; /* Reduce el espacio al hacer scroll hacia abajo */
    height: 100px; /* Permite que la altura se ajuste automáticamente */
}

/* Estilo adicional para el título cuando el header se encoge */
.header.shrink .title h1 {
    font-size: 50px; /* Cambia el tamaño del título cuando el header se encoge */
}

.header.shrink .logo img {
    width: 100px; /* Reduce el tamaño del logo */
}

.header.shrink .redes-sociales {
    margin-right: 80px;
}

/* Estilo para los links de las redes sociales*/
.header .redes-sociales{
    margin-right: 20px;
    transition: all 0.3s;
}

.header .redes-sociales ul {
    position : relative;
    display: flex;
    transform-style: preserve-3d;
}

.header .redes-sociales li{
    position: relative;
    list-style: none;
    width: 75px;
    height: 75px;
    margin: 0 2px
}

.header .redes-sociales li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCD5AE;
    color: #CCD5AE;
    font-size: 30px;
    transition: 0.2s;
    border-radius: 50%;
}

.header .redes-sociales li:hover span{
    z-index: 10;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1´x 1´x  rgba(0, 0, 0, 0.5s);
    background: var(--clr);
    transform: translate(0px, -40px);
}

.header .redes-sociales li:hover span:nth-child(5){
    transform: translate(-0px, -40px) ;
    opacity: 1;
}

.header .redes-sociales li:hover span:nth-child(4){
    transform: translate(-0px, -30px);
    opacity: 0.8;
}

.header .redes-sociales li:hover span:nth-child(3){
    transform: translate(-0px, -20px);
    opacity: 0.6;
}

.header .redes-sociales li:hover span:nth-child(2){
    transform: translate(-0px, -10px);
    opacity: 0.4;
}

.header .redes-sociales li:hover span:nth-child(1){
    transform: translate(0px);
    opacity: 0.2;
}

.header .redes-sociales li span img{
    width: 75px; /* Establece el ancho deseado */
    height: 75px; /* Establece la altura deseada (mismo valor que el ancho para que sea redonda) */
    border-radius: 50%; /* Aplica un radio de borde del 50% para que la imagen sea redonda */
    object-fit: cover; /* Ajusta la imagen dentro del espacio redondo */
    z-index: 1;
}

.header .redes-sociales li:hover .linkedin-link {
    display: block; /* Muestra el enlace a LinkedIn cuando se realiza un hover */
    position: absolute; /* Coloca el enlace encima de la foto */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center; /* Centra el contenido del enlace */
    background: #CCD5AE; /* Agrega un fondo semitransparente */
    color: #fff; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente */
    line-height: 100px; /* Alinea verticalmente el texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    transition: opacity 0.3s; /* Agrega una transición de opacidad */
    z-index: 8; /* Coloca el enlace encima de los elementos de redes sociales */
    opacity: 0; /* Inicialmente, el enlace está oculto */
}

.header .redes-sociales li:hover .linkedin-link:hover {
    opacity: 1; /* Muestra el enlace completamente cuando hagas hover sobre él */
}

/*///////////////////////////////////////////// FIN ESTILOS PARA EL HEADER ////////////////////////////////////////////////////////////*/

nav {
    position: sticky;
    margin: 0px;
    padding: 0px;
    top: 0px;
}
nav ul {
    list-style-type: none;

    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff5733;
}

/*///////////////////////////////////////////// ESTILOS PARA MAIN SECTION ////////////////////////////////////////////////////////////*/

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.featured-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.featured-recipe img {
    max-width: 380px;
    height: auto;
}

.latest-recipes img{
    max-width: 500px;
    height: auto;
}

.latest-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-recipes article {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #FEFAE0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.featured-recipe img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


.latest-recipes article:hover {
    transform: scale(1.07);
}

footer {
    display: flex; /* Habilita el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente los elementos en el footer */
    align-items: center; /* Centra verticalmente los elementos en el footer */
    background-color: #333;
    color: #fff;
    padding: 10px; /* Ajusta el relleno según sea necesario */
}

/* Estilos para la imagen */
footer .logo-grupo {
    max-width: 130px; /* Establece el ancho máximo deseado para la imagen */
    margin-right: 200px; /* Agrega un margen derecho para separar la imagen del texto */
    padding: 5px;
}

footer .logo-codo-a-codo {
    max-width: 250px; /* Establece el ancho máximo deseado para la imagen */
    margin-right: 50px; /* Agrega un margen derecho para separar la imagen del texto */
    padding: 5px;
}

/* Estilos para el texto del pie de página */
footer p {
    margin-right: 200px; /* Elimina el margen predeterminado para el párrafo */
}

/*/////////////////////////////////////////////////////////// ESTILOS PARA EL MAIN ///////////////////////////////////////////////////////////////////////*/

/* Estilos para el main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos en el espacio disponible */
    gap: 20px; /* Espacio entre los elementos */
}

/* Estilos para el contenedor de recetas */
.latest-recipes .recipe-container {
    display: flex; /* Utiliza flexbox para alinear los artículos en fila */
    flex-wrap: wrap; /* Permite que los artículos se envuelvan en una nueva fila si no caben en una sola fila */
    justify-content: space-between; /* Distribuye los artículos con espacio entre ellos */
    gap: 20px; /* Espacio entre los artículos */
}

/* Estilos para los artículos en "Últimas Recetas" */
.latest-recipes article {
    flex-basis: calc(50% - 10px); /* Ocupa la mitad del ancho disponible con espacio entre ellos */
}

/************************************************************* FIN ESTILOS PARA EL MAIN **************************************************************************/

@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Apila elementos verticalmente */
        text-align: center;
    }

    .redes-sociales {
        margin-top: 20px; /* Añade espacio entre las redes sociales y otros elementos */
        height: 350px;
        width: auto;
    }
}

.latest-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-recipes .recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-recipes article {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #FEFAE0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .latest-recipes article {
        flex: 0 0 calc(100% - 20px); /* Cambia a una columna completa en pantallas pequeñas */
    }
}
