* {
    margin: 0;
    padding: 0;
  }
body {
    /* font-family: 'Comfortaa', cursive; */
    font-family: Poppins,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    box-sizing: border-box;
}

/*///////////////////////////////////////////// ESTILOS PARA EL HEADER ////////////////////////////////////////////////////////////*/

.header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between; /* Distribuye los elementos a lo largo del encabezado */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #CCD5AE;
    color: #fff;
    transition: all 0.5s; /* Transición suave de la propiedad de relleno (padding) */
    /* padding: 5px; */
    height: 190px; /* Ajusta la altura*/
    z-index: 1;
    
    
    
    
    
    
    
    
    /*
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: all 0.5s; /* Transición suave dl padding */ 
    /*height: 190px; /* altura */
    /*z-index: 2;
    background-color: #CCD5AE;
    /*position: relative;
    justify-content: space-between; 
    /*display: flex; /* Utiliza flexbox para organizar los elementos en fila */
    /*grid-auto-rows:  600px;
    /* Distribuye los elementos a lo largo del encabezado 
    align-items: center; /* Centra verticalmente los elementos 
    
    color: #fff;*/
}  

.header .logo {
    align-items: center;
}

.header .logo img {
    position: absolute;
    top: 15%;
    left: 120px;
    transform: translate(-50%);
    transition: all 0.3s;
    width: 140px;
    height: auto;
    
    
    
    /*width: 180px;
    height: auto;
    transition: all 0.3s;
    /*margin-left: 25px;*/
}

/* Estilos para el título dentro del encabezado */

.header .title h1 {
    position: flex;
    font-size: 50px;
    align-items:center;
    color: rgb(31, 49, 2);
    /* font-size: 65px; */
    transition: all 0.5s;
}





/*.header nav {
    order: 8; /* Cambia el orden para que esté debajo del título ese no  se como me salio*/


/************************************************************************* Estilos para el header cuando se achica (shrink) *********************************************************************/

.header.shrink {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between; /* Distribuye los elementos a lo largo del encabezado */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 5px 0; /* Reduce el espacio al hacer scroll hacia abajo */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    /* z-index: 1; */
}

/* Estilo adicional para el título cuando el header se achica  */

.header.shrink .title h1 {
    position: flex;
    align-items: center;
    color: rgb(31, 49, 2);
    transition: all 0.5s;
    font-size: 30px; /* Cambia el tamaño del título cuando el header se achica */
}

.header.shrink .logo img {
    width: 80px; /* Reduce el tamaño del logo, que me quedo lindo*/
}

.header.shrink .redes-sociales {
    margin-right: 40px;
    margin-left: 100px;
}

.header.shrink .redes-sociales ul li span {
    width: 45px;
    height: 45px;
    margin: 5px;

}

.header.shrink .redes-sociales li span img {
    width: 40px; /* Establece el ancho */
    height: 40px; /* Establece la altura (mismo valor que el ancho para que sea redonda) */
    border-radius: 50%; /* radio de borde del 50% para que la imagen sea redonda */
    object-fit: cover; /* Ajusta la imagen dentro del espacio redondo */
    z-index: 1;
    margin: 5px;
}

.header.shrink .redes-sociales .nombres {
    opacity: 0;
    display: none;
}






/**************************** Estilo para los links de las redes sociales que en realidad no son redes sociales, la idea es que luego enlacena a los likedin de cadaa uno ***********************/

.header .redes-sociales {
    margin-top: 30px;
    transition: all 0.3s;
}

.header .redes-sociales ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    position : relative;
    transform-style: preserve-3d;
}

.header .redes-sociales li{
    position: relative;
    list-style: none;
    width: 75px;
    height: 75px;
    margin: 0 2px
}

.header .redes-sociales li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCD5AE;
    color: #CCD5AE;
    /* font-size: 200px; */
    transition: 0.2s;
    border-radius: 50%;
}

.header .redes-sociales li:hover span {
    z-index: 10;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1´x 1´x  rgba(0, 0, 0, 0.5s);
    background: var(--clr);
    transform: translate(0px, -40px);
}

.header .redes-sociales li:hover span:nth-child(5) {
    transform: translate(-0px, -40px) ;
    opacity: 1;
}

.header .redes-sociales li:hover span:nth-child(4) {
    transform: translate(-0px, -30px);
    opacity: 0.8;
}

.header .redes-sociales li:hover span:nth-child(3) {
    transform: translate(-0px, -20px);
    opacity: 0.6;
}

.header .redes-sociales li:hover span:nth-child(2) {
    transform: translate(-0px, -10px);
    opacity: 0.4;
}

.header .redes-sociales li:hover span:nth-child(1) {
    transform: translate(0px);
    opacity: 0.2;
}

.header .redes-sociales li span img {
    width: 70px; /* Establece el ancho */
    height: 70px; /* Establece la altura (mismo valor que el ancho para que sea redonda) */
    border-radius: 50%; /* radio de borde del 50% para que la imagen sea redonda */
    object-fit: cover; /* Ajusta la imagen dentro del espacio redondo */
    z-index: 1;
}

.header .redes-sociales li:hover .linkedin-link {
    display: block; 
    position: absolute; /* Coloca el enlace encima de la foto */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center; /* Centra el contenido del enlace */
    background: #CCD5AE; /* Agrega un fondo semitransparente */
    color: #fff; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente */
    line-height: 100px; /* Alinea verticalmente el texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    transition: opacity 0.3s; /* Agrega una transición de opacidad */
    z-index: 8; /* Coloca el enlace encima de los elementos "redes sociales" que no lo son en realidad */
    opacity: 0; /* Inicialmente, el enlace está oculto, magia */
}

.header .redes-sociales li:hover .linkedin-link:hover {
    opacity: 1; /* Muestra el enlace completamente con el hover */
}

.header .redes-sociales .nombres {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2px;
    
    /*display: flex;
    object-fit: cover;*/
}

.header .redes-sociales h5 {
    text-align: center;
    /*margin-right: 10px;
    flex-direction: row;
    display: inline-block;*/
} 

/*///////////////////////////////////////////// FIN ESTILOS PARA EL HEADER ////////////////////////////////////////////////////////////*/

nav {
    position: sticky;
    top: 190px; /* Fija el nav en la parte superior de la ventana */
    left: 0; /*Fija el nav en la parte izquierda de la ventana*/
    width: 100%; /* Ocupa todo el ancho de la ventana */
    background-color: #FEFAE0;
    /* z-index: 1;  */
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #CCD5AE;
}

/*///////////////////////////////////////////// ESTILOS PARA MAIN SECTION ////////////////////////////////////////////////////////////*/

main {
    padding: 40px; 
    /*padding-top: 190px; /* Igual a la altura del header */
    min-height: calc(100vh - 200px); /* Ajusta la altura según el alto del header y el footer, hay que revisar esto */
    max-width: auto;
    margin: 0 auto;
    text-align: center;
}

.featured-recipe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.featured-recipe img {
    max-width: 450px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    align-items: center;
}

.featured-recipe img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-recipe h2 {
    font-size: 120px; /* Tamanio de la fuente */
    margin-left: 80px;
    max-width: 100%;
    max-height: 100%;
}

.featured-recipe .brochet-guanaco {
    max-width: 800px;
    height: auto;
    margin-left: 150px;
    margin-right: 50px;
}

.latest-recipes {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    /*align-items: center; */
    /*text-align: center; */
}

.latest-recipes img {
    max-width: 100%;
    height: auto;
    /*max-width: 800px;
    height: auto;*/
}

.latest-recipes article {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #FEFAE0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    align-items: center;
}

.latest-recipes article:hover {
    transform: scale(1.07);
}

.latest-recipes h2 {
    font-size: 80px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */

}

/************************************************************************** Estilos para el main ********************************************************************/

/* Estilos para el contenedor de recetas */

.latest-recipes .recipe-container {
    display: flex; /* Utiliza flexbox para alinear los artículos en fila */
    flex-wrap: wrap; /* Permite que los artículos se envuelvan en una nueva fila si no caben en una sola fila */
    justify-content: space-between; /* Distribuye los artículos con espacio entre ellos */
    gap: 20px; /* Espacio entre los artículos */
}

/* Estilos para los artículos en "Últimas Recetas" */

.latest-recipes article {
    flex-basis: calc(50% - 10px); /* Ocupa la mitad del ancho disponible con espacio entre ellos */
}

/* Estilos pra el Footer */

footer {
    display: flex; /* Habilita el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente los elementos en el footer */
    align-items: center; /* Centra verticalmente los elementos en el footer */
    background-color: #333;
    color: #fff;
    padding: 10px; /* Ajusta el relleno según sea necesario */
}

/* Estilos para la imagen */

footer .logo-grupo {
    max-width: 130px; /* Establece el ancho máximo deseado para la imagen */
    margin-right: 200px; /* Agrega un margen derecho para separar la imagen del texto */
    padding: 5px;
}

footer .logo-codo-a-codo {
    max-width: 250px; /* Establece el ancho máximo deseado para la imagen */
    margin-right: 50px; /* Agrega un margen derecho para separar la imagen del texto */
    padding: 5px;
}

/* Estilos para el texto del footer */

footer p {
    margin-right: 200px; /* Elimina el margen predeterminado para el párrafo */
}

/* Estilos para el formulario */
#contenedor-formulario {
    display: grid;
}

#formulario-contacto {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #CCD5AE;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario-contacto h2 {
    text-align: center;

}

/* Estilo para las etiquetas de los campos */

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para los campos de entrada */

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para el botón */

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para el botón de envío al pasar el mouse sobre él */

input[type="submit"]:hover {
    background-color: #0056b3;
}

.enlace_contacto{
    color: #fff;
    text-decoration: none;

}

@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Apila elementos verticalmente */
        text-align: center;
    }

    .redes-sociales {
        margin-top: 20px; /* Añade espacio entre las redes sociales y otros elementos */
        height: 350px;
        width: auto;
    }
}

.latest-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-recipes .recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-recipes article {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #FEFAE0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .latest-recipes article {
        flex: 0 0 calc(100% - 20px); /* Cambia a una columna completa en pantallas pequeñas */
    }
}

